#grid{
    max-width: 300px;
}



.box{
    min-height: 100px;
}

#alert--container{
    min-height: 80px;
}

#p1, #p2 {
    position:relative;
}

@keyframes pop{
 0% {
    transform: scale(1);
 }   
 50% {
    transform: scale(1.1);
 }
 100% {
    transform: scale(1);
 }
}

.grid-pop {
    animation: pop 0.3s ease;
}